.quali-text {
    font-size: 20px;
    top: 10px;
}

.qualifications-container {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80%;
    width: 90%;
    overflow: scroll;
    overflow-y: hidden;
    margin-top: 15px;
    user-select: none;
    .qualification {
        position: relative;
        height: 550px;
        min-width: 40%;
        background: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }
    .qualification h1 {
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .qualification .content.html {
        background: url(../props/html.png);
        background-position: center;
        background-size: 60px;
    }
    .qualification .content.css {
        background: url(../props/css.png);
        background-position: center;
        background-size: 60px;
    }
    .qualification .content.javascript {
        background: url(../props/js.jpg);
        background-position: center;
        background-size: 90px;
    }
    .qualification .content.bootstrap {
        background: url(../props/bootstrap.png);
        background-position: center;
        background-size: 60px;
    }
    .qualification .content.react {
        background: url(../props/react.png);
        background-position: center;
        background-size: 90px;
    }
    .qualification .content.c-plus-plus {
        background: url(../props/c-plus-plus.png);
        background-position: center;
        background-size: 60px;
    }
    .qualification .content.c-sharp {
        background: url(../props/c-sharp.png);
        background-position: center;
        background-size: 60px;
    }
    .qualification .content.kotlin {
        background: url(../props/kotlin.png);
        background-position: center;
        background-size: 60px;
    }
}
