.home-container {
    position: relative;
    min-height: 100vh;
    padding: 50px 40px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
        position: inherit;
        margin-top: -50px;
        height: 520px;
        width: 520px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        user-select: none;
    }
    .logo .main-img {
        position: absolute;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        cursor: pointer;
    }
    .logo .main-img.active {
        animation: spin 8s linear 1s infinite;
    }
    .logo .circle {
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: rgb(4, 4, 44);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease;
        opacity: 0;
    }
    .logo .main-img.active .circle {
        opacity: 1;
    }
    .logo .main-img.active .circle:nth-child(1) {
        background: url(../props/html.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        transform: translateY(-210%);
    }
    .logo .main-img.active .circle:nth-child(2) {
        background: url(../props/css.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        transform: translateX(150%) translateY(-150%);
    }
    .logo .main-img.active .circle:nth-child(3) {
        background: url(../props/js.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
        transform: translateX(210%);
    }
    .logo .main-img.active .circle:nth-child(4) {
        background: url(../props/bootstrap.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        transform: translateX(150%) translateY(150%);
    }
    .logo .main-img.active .circle:nth-child(5) {
        background: url(../props/react.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        transform: translateY(210%);
    }
    .logo .main-img.active .circle:nth-child(6) {
        background: url(../props/kotlin.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        transform: translateX(-150%) translateY(150%);
    }
    .logo .main-img.active .circle:nth-child(7) {
        background: url(../props/c-plus-plus.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        transform: translateX(-210%);
    }
    .logo .main-img.active .circle:nth-child(8) {
        background: url(../props/c-sharp.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        transform: translateX(-150%) translateY(-150%);
    }
    img {
        position: absolute;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 3px solid rgb(108, 161, 197);
        transform: translate(-200px);
        opacity: 0;
        animation: fade-in 1s ease 1 0.5s forwards;
    }
    h2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 60%;
        margin-top: 50px;
    }
    h2 span {
        font-size: 25px;
        opacity: 0.8;
        padding-bottom: 5px;
        border-bottom: 2px solid var(--color-primary);
        font-family: "Open Sans Condensed", sans-serif;
    }
    h2 p {
        font-size: 20px;
        opacity: 1;
        font-weight: 100;
        margin-top: 1px;
        font-family: "Open Sans", sans-serif;
    }
}

.scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursos: pointer;
    h5 {
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 100;
    }
    .scroll {
        transform: rotate(-90deg);
        font-size: 100px;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    to {
        transform: translate(0);
        opacity: 1;
    }
}
